# Configuration file

general {
    I:SMPMaxAlarmRange=256
    I:alarmRange=64
    S:allowedAlarms=default,sci-fi
    S:httpSensorKey=cf2862b48c0b4a2ab2e71702a2c04e32
    I:infoPanelRefreshPeriod=20
    B:isHttpSensorAvailable=true
    I:maxAlarmRange=128
    I:rangeTriggerRefreshPeriod=20

    # Valid inputs: normal, old or gregtech [default: normal]
    S:recipes=normal
    I:remoteThermalMonitorEnergyConsumption=1
}


