# Configuration file

appliedenergistics2 {

    item_toolnetherquartzwrench {
        I:wrench=0
    }

    item_toolcertusquartzspade {
        I:shovel=3
    }

    item_toolcertusquartzwrench {
        I:wrench=0
    }

    item_toolcertusquartzaxe {
        I:axe=3
    }

    item_toolnetherquartzaxe {
        I:axe=3
    }

    item_toolnetherquartzpickaxe {
        I:pickaxe=3
    }

    item_toolnetherquartzspade {
        I:shovel=3
    }

    item_toolcertusquartzpickaxe {
        I:pickaxe=3
    }

    item_toolnetworktool {
        I:wrench=0
    }

}


"buildcraft|core" {

    wrenchitem {
        I:wrench=0
    }

}


deepercaves {

    ametrine_tipped_golden_pickaxe {
        I:pickaxe=0
    }

    ametrine_tipped_diamond_pickaxe {
        I:pickaxe=6
    }

    ametrine_tipped_iron_pickaxe {
        I:pickaxe=5
    }

    ametrine_tipped_wooden_pickaxe {
        I:pickaxe=0
    }

    ametrine_tipped_stone_pickaxe {
        I:pickaxe=3
    }

}


forestry {

    bronzepickaxe {
        I:pickaxe=5
    }

    scoop {
        I:scoop=5
    }

    bronzeshovel {
        I:shovel=5
    }

    wrench {
        I:wrench=0
    }

}


galacticraftcore {

    item_steel_shovel {
        I:shovel=6
    }

    item_steel_pickaxe {
        I:pickaxe=6
    }

    item_steel_axe {
        I:axe=6
    }

}


galacticraftmars {

    item_deshspade {
        I:shovel=6
    }

    item_titanium_shovel {
        I:shovel=5
    }

    item_deshpickslime {
        I:pickaxe=6
    }

    item_deshpick {
        I:pickaxe=6
    }

    item_titanium_pickaxe {
        I:pickaxe=5
    }

    item_deshaxe {
        I:axe=6
    }

    item_titanium_axe {
        I:axe=5
    }

}


gravisuite {

    advchainsaw {
        I:axe=3
    }

    advddrill {
        I:pickaxe=3
        I:shovel=3
    }

}


ic2 {

    itemnanosaber {
        I:sword=5
    }

    itemtoolbronzepickaxe {
        I:pickaxe=3
    }

    itemtooldrill {
        I:pickaxe=3
        I:shovel=3
    }

    itemtoolbronzespade {
        I:shovel=3
    }

    itemtoolddrill {
        I:pickaxe=5
        I:shovel=5
    }

    itemtooliridiumdrill {
        I:pickaxe=102
        I:shovel=102
    }

    itemtoolchainsaw {
        I:axe=3
        I:shears=3
        I:sword=3
    }

    itemtoolbronzeaxe {
        I:axe=3
    }

}


minecraft {

    wooden_shovel {
        I:shovel=0
    }

    wooden_axe {
        I:axe=0
    }

    golden_axe {
        I:axe=0
    }

    wooden_pickaxe {
        I:pickaxe=0
    }

    diamond_shovel {
        I:shovel=5
    }

    diamond_pickaxe {
        I:pickaxe=5
    }

    stone_axe {
        I:axe=0
    }

    golden_pickaxe {
        I:pickaxe=0
    }

    iron_pickaxe {
        I:pickaxe=3
    }

    stone_shovel {
        I:shovel=0
    }

    iron_shovel {
        I:shovel=3
    }

    iron_axe {
        I:axe=3
    }

    golden_shovel {
        I:shovel=0
    }

    stone_pickaxe {
        I:pickaxe=0
    }

    diamond_axe {
        I:axe=5
    }

}


moreplanet {

    norium_pickaxe {
        I:pickaxe=6
    }

    palladium_pickaxe {
        I:pickaxe=6
    }

    sulfur_pickaxe {
        I:pickaxe=5
    }

    fronos_rock_pickaxe {
        I:pickaxe=0
    }

    quontonium_pickaxe {
        I:pickaxe=6
    }

    uranium_pickaxe {
        I:pickaxe=6
    }

    white_crystal_pickaxe {
        I:pickaxe=6
    }

    ice_crystal_axe {
        I:axe=6
    }

    white_crystal_spade {
        I:shovel=6
    }

    ice_crystal_shovel {
        I:shovel=6
    }

    koentus_meteor_spade {
        I:shovel=6
    }

    black_diamond_pickaxe {
        I:pickaxe=6
    }

    polongnius_meteor_pickaxe {
        I:pickaxe=6
    }

    purple_crystal_axe {
        I:axe=6
    }

    fronos_rock_shovel {
        I:shovel=0
    }

    fronisium_spade {
        I:shovel=6
    }

    ice_crystal_pickaxe {
        I:pickaxe=6
    }

    sulfur_axe {
        I:axe=5
    }

    fronisium_axe {
        I:axe=6
    }

    polongnius_meteor_spade {
        I:shovel=6
    }

    frozen_iron_pickaxe {
        I:pickaxe=6
    }

    iridium_pickaxe {
        I:pickaxe=6
    }

    frozen_iron_axe {
        I:axe=6
    }

    candy_axe {
        I:axe=0
    }

    red_gem_pickaxe {
        I:pickaxe=6
    }

    iridium_spade {
        I:shovel=6
    }

    quontonium_axe {
        I:axe=6
    }

    red_gem_spade {
        I:shovel=6
    }

    fronos_rock_axe {
        I:axe=0
    }

    candy_pickaxe {
        I:pickaxe=0
    }

    palladium_spade {
        I:shovel=6
    }

    purple_crystal_spade {
        I:shovel=6
    }

    purple_crystal_pickaxe {
        I:pickaxe=6
    }

    frozen_iron_spade {
        I:shovel=6
    }

    candy_spade {
        I:shovel=0
    }

    koentus_meteor_pickaxe {
        I:pickaxe=6
    }

    uranium_axe {
        I:axe=6
    }

    black_diamond_axe {
        I:axe=6
    }

    black_diamond_spade {
        I:shovel=6
    }

    iridium_axe {
        I:axe=6
    }

    koentus_meteor_axe {
        I:axe=6
    }

    polongnius_meteor_axe {
        I:axe=6
    }

    palladium_axe {
        I:axe=6
    }

    norium_axe {
        I:axe=6
    }

    norium_spade {
        I:shovel=6
    }

    fronisium_pickaxe {
        I:pickaxe=6
    }

    red_gem_axe {
        I:axe=6
    }

    white_crystal_axe {
        I:axe=6
    }

    sulfur_shovel {
        I:shovel=5
    }

    uranium_spade {
        I:shovel=6
    }

    quontonium_spade {
        I:shovel=6
    }

}


"projred|exploration" {

    projectred_exploration_shovelruby {
        I:shovel=3
    }

    projectred_exploration_pickaxeruby {
        I:pickaxe=3
    }

    projectred_exploration_axeperidot {
        I:axe=3
    }

    projectred_exploration_axesapphire {
        I:axe=3
    }

    projectred_exploration_shovelsapphire {
        I:shovel=3
    }

    projectred_exploration_shovelperidot {
        I:shovel=3
    }

    projectred_exploration_pickaxesapphire {
        I:pickaxe=3
    }

    projectred_exploration_pickaxeperidot {
        I:pickaxe=3
    }

    projectred_exploration_axeruby {
        I:axe=3
    }

}


railcraft {

    tool_crowbar_magic {
        I:crowbar=0
    }

    tool_steel_shovel {
        I:shovel=3
    }

    tool_steel_pickaxe {
        I:pickaxe=3
    }

    tool_crowbar {
        I:crowbar=0
    }

    tool_crowbar_reinforced {
        I:crowbar=0
    }

    tool_crowbar_void {
        I:crowbar=0
    }

    tool_steel_axe {
        I:axe=3
    }

}


tconstruct {

    shovel {
        I:shovel=-1
    }

    battleaxe {
        I:axe=-1
    }

    hammer {
        I:pickaxe=-1
    }

    pickaxe {
        I:pickaxe=-1
    }

    lumberaxe {
        I:axe=-1
    }

    hatchet {
        I:axe=-1
    }

    excavator {
        I:shovel=-1
    }

    mattock {
        I:axe=-1
    }

}


thaumcraft {

    itemshovelthaumium {
        I:shovel=5
    }

    itempickthaumium {
        I:pickaxe=5
    }

    itempickvoid {
        I:pickaxe=6
    }

    itemshovelvoid {
        I:shovel=6
    }

    itemaxethaumium {
        I:axe=5
    }

    itemprimalcrusher {
        I:pickaxe=-1
        I:shovel=-1
    }

    itemshovelelemental {
        I:shovel=5
    }

    itemaxevoid {
        I:axe=6
    }

    itempickaxeelemental {
        I:pickaxe=5
    }

    itemaxeelemental {
        I:axe=5
    }

}


thermalfoundation {

    tool_sicklecopper {
        I:sickle=0
    }

    tool_shovelnickel {
        I:shovel=3
    }

    tool_shovellead {
        I:shovel=0
    }

    tool_shovelinvar {
        I:shovel=3
    }

    tool_axesilver {
        I:axe=3
    }

    tool_pickaxeplatinum {
        I:pickaxe=6
    }

    tool_axenickel {
        I:axe=3
    }

    tool_shovelbronze {
        I:shovel=3
    }

    tool_axelead {
        I:axe=0
    }

    tool_sickleinvar {
        I:sickle=3
    }

    tool_shovelelectrum {
        I:shovel=0
    }

    tool_axeelectrum {
        I:axe=0
    }

    tool_pickaxeinvar {
        I:pickaxe=3
    }

    tool_sickleelectrum {
        I:sickle=0
    }

    tool_axecopper {
        I:axe=0
    }

    tool_sicklebronze {
        I:sickle=3
    }

    tool_shoveltin {
        I:shovel=0
    }

    tool_pickaxecopper {
        I:pickaxe=0
    }

    tool_pickaxelead {
        I:pickaxe=0
    }

    tool_sickletin {
        I:sickle=0
    }

    tool_axeinvar {
        I:axe=3
    }

    tool_pickaxesilver {
        I:pickaxe=3
    }

    tool_axetin {
        I:axe=0
    }

    tool_pickaxenickel {
        I:pickaxe=3
    }

    tool_shovelsilver {
        I:shovel=3
    }

    tool_pickaxetin {
        I:pickaxe=0
    }

    tool_pickaxeelectrum {
        I:pickaxe=0
    }

    tool_axebronze {
        I:axe=3
    }

    tool_shovelplatinum {
        I:shovel=6
    }

    tool_sicklesilver {
        I:sickle=3
    }

    tool_axeplatinum {
        I:axe=6
    }

    tool_sickleplatinum {
        I:sickle=6
    }

    tool_sicklelead {
        I:sickle=0
    }

    tool_pickaxebronze {
        I:pickaxe=3
    }

    tool_shovelcopper {
        I:shovel=0
    }

    tool_sicklenickel {
        I:sickle=3
    }

}


twilightforest {

    item_fierypick {
        I:pickaxe=6
    }

    item_ironwoodshovel {
        I:shovel=3
    }

    item_knightlypick {
        I:pickaxe=5
    }

    item_steeleafpick {
        I:pickaxe=5
    }

    item_steeleafshovel {
        I:shovel=5
    }

    item_mazebreakerpick {
        I:pickaxe=5
    }

    item_giantpick {
        I:pickaxe=0
    }

    item_ironwoodpick {
        I:pickaxe=3
    }

    item_ironwoodaxe {
        I:axe=3
    }

    item_minotauraxe {
        I:axe=5
    }

    item_steeleafaxe {
        I:axe=5
    }

    item_knightlyaxe {
        I:axe=5
    }

}


